// brand colors

$blue: #1c4c71;
$purple: #51245e;
$orange: #ff3b00;

// grayscale

$black: #000000;
$gray-1: #444;
$gray-2: #7b807f;
$gray-3: #dde6e5;
$gray-4: #eff2f2;
$gray-5: #f4fbfb;
$white: #ffffff;

// breakpoints
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
